 <main class="main">
  <div class="kv-wrapper">
    <div class="kv">
    <a href="/">
      <%= image_tag 'top-logo.png', class:"top-logo" %></a>
        <div class="message_fade">
          <p>おめでとう。</p><br>
          <p>そして</p><br>
          <p>生まれてきてくれて、ありがとう。</p>
        </div>
    </div>
    <div class="item-wrapper">
      <div class="concept">
        <p class="concept-text">ハンドメイドで刺繍を作成しております。</p>
        <p class="concept-text">出産されたお友達やご家族の赤ちゃんに</p>
        <p class="concept-text">プレゼントを贈りませんか？？</p>
      </div>
      <div class="items">
      <%= image_tag 'item1.png', class:'item-image left' %>
      <%= image_tag 'item4.png', class:'item-image right' %>
      </div>
      <div class="discription">
        <p>リボンの長さは”赤ちゃんが生まれてきた時の身長”でお作りしています。</p>
      </div>
    </div>

      <div class="order_start">
        <%= link_to new_order_path do %>
          <div class="sc-eTpRJs cegJMn">
            <div class="sc-iuJeZd bJmZck">
              <div class="sc-esOvli imkpqd">ご注文は<br>こちら</div>
            </div>
        <% end %>
        </div>
        </div>
  </main>
  <!-- /.main -->