.sub_title{
  padding: 0.5rem;
  border-left: 2px solid #000;
  /* background: #f4f4f4; */
}

.order_data{
  /* display: flex; */
  justify-content: space-between;
}

.order_baby{
  margin-bottom: 30px;
}

.cegJMn-second {
  position: fixed;
  right: 100px;
  bottom: 50px;
  text-align: center;
  z-index: 2;
}

.kRWpNp {
  display: block;
}

.bJmZck-second {
  border-radius: 15%;
  padding-top: 25%;
  text-align: center;
  height: 120px;
  width: 120px;
  background-color: rgba(230, 100, 100, 0.7);
}

.cegJMn-second:hover{
  transition: 0.3s;
  transition-property:background-color;
  border-radius: 15%;
  background-color: rgba(230, 100, 100, 1);
}

.imkpqd-second {
  color: rgb(255, 255, 255);
  margin-top: 15%;
}

:not(svg) {
  transform-origin: 0px 0px;
}

